body {
    font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Raleway', sans-serif;
}

.salati {
    background-color: orangered;
color: whitesmoke;
font-weight: bolder;
margin-top: 50px;
}

.hrana-container {
    height: inherit;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
gap: 50px;
margin-top: 30px;

}

.plan-hrana {
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    max-width: 200px;

}

img {
    width: 200px;
    border-radius: 5%;
}

.hrana-title {
    text-align: center;
    font-size: larger;
    font-weight: bold;

}

.price-hrana {
font-weight: bold;
margin-top: 10px;
}

@media only screen and (max-width: 1500px)
{ .hrana-container {flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
    
}